body{
    margin-bottom: 15px;
    
}


nav{
   
    display: inline-block;
    color: pink;
    border-style: solid;
    border-color: hotpink;
    border-width: 2px;
    position: absolute;

}

section{
    display: block;
    position:relative;
    margin-left: 10%;
    border-style: solid;
    border-color: yellow;
  

}
footer{
    
    border-style: solid;
    border-color: lightseagreen;
    border-width: 2px;
    text-align: center;
}

.container{
    border-style: solid;
    border-width: 2px;
    border-color: turquoise;
    position: relative;
}

img{
    border-style: dotted;
    border-color: red;
    border-width: 4px;
    border-radius: 25px;
    background-clip: padding-box;
    padding: 10px;
    
    
}